/* Ajustes para inputs con ancho específico */
input.form-control {
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    max-width: 300px; /* Limita el ancho máximo */
    width: 100%;
}

/* Ajuste específico para cada input */
input.latitud, input.longitud, input.radio {
    width: 250px; /* Ancho fijo opcional */
}

.h5{
    color: #555;
    font-weight: bold;

}

button#recomendarPuntosBtn {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 50px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    input.latitud, input.longitud, input.radio {
        width: 100%; /* Ocuparán el 100% en pantallas pequeñas */
    }

    button#recomendarPuntosBtn {
        width: 100%; /* Botón a full ancho en pantallas pequeñas */
    }
}
