/* Ajustes para inputs con ancho específico */
input.form-control {
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.h5{
    color: #555;
    font-weight: bold;

}

button#recomendarPuntosBtn {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 50px;
}

.btn-coordenada{
    border: none;
    transition: all .3s;
    border-radius: 6px;
    font-size: 0.7rem;
    padding: 10px 15px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-coordenada:hover{
    background-color: #9c9c9c;
    cursor: pointer;
}

.btn-coordenada > p{
    margin: 0;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    input.latitud, input.longitud, input.radio {
        width: 100%; /* Ocuparán el 100% en pantallas pequeñas */
    }

    button#recomendarPuntosBtn {
        width: 100%; /* Botón a full ancho en pantallas pequeñas */
    }
}
