.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.filter-container {
    background-color: #f8f9fa;
    color: #333; /* Color más oscuro para que se vea mejor */
}

.filter-container h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

#apply-filter {
    background-color: #007bff;
    color: white;
}

h1, h3, h4 {
    color: #333; /* Color más oscuro para mejor visibilidad */
}
.titulo{
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 20px;
}

#product-list .product-item {
    border: 1px solid #e0e0e0;
    margin-bottom: 0px;
    height: 180px;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;
    padding: 15px; /* Más espacio interno */
    box-sizing: border-box;
    background-color: white; /* Fondo blanco para hacer más limpio */
}
#product{
    margin: auto;
}

#product-list .product-item:nth-child(2n) {
    margin-right: 0; /* Para remover el margen en el último item de cada fila */
}

#product-list .product-item:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Sombra más visible */
}

#product-list .product-image {
    flex-shrink: 0;
    margin-right: 20px;
}

#product-list .product-image img {
    width: 120px; /* Tamaño de imagen ajustado */
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

#product-list .product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#product-list .product-details h3 {
    color: #333;
    font-weight: bold;
}

#product-list .product-details p {
    font-size: 0.9rem;
    color: #666;
}

#mis-puntos {
    color: #007bff;
    font-weight: bold;
}

h4.h5 {
    color: #007bff;
    font-weight: bold;
}

/* Estilo para eliminar el subrayado de los enlaces */
.product-item-link {
    text-decoration: none;
    color: inherit; /* Mantiene el color del texto del producto */
}

.product-item-link:hover h3 {
    text-decoration: underline; /* Subrayado solo al pasar el mouse */
}