/* style-donar.css */

/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Puedes cambiar 'Roboto' por otra fuente si prefieres */
    background-color: #ffffff;
    color: #333;
}

/* Contenedor de la imagen */
.image-container {
    display: inline-block;
    width: 100%; /* Asegura que el contenedor tome todo el ancho disponible */
    max-width: 800px; /* Tamaño máximo de la imagen */
    margin-bottom: 30px; /* Espacio debajo de la imagen */
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Título principal */
h1.display-4 {
    font-size: 3rem;
    color: #333;
    font-weight: 700; /* Negrita */
    font-family: 'Montserrat', sans-serif; /* Cambia la tipografía a Montserrat o alguna fuente de Google Fonts */
    margin-bottom: 20px;
}

/* Subtítulo */
h3.h5 {
    color: #555;
    font-weight: bold;
}

/* Estilo del select */
select.form-control {
    padding: 7px 15px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: #f7f7f7;
    color: #333; /* Cambia el color del texto para que sea visible */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    -webkit-appearance: none; /* Elimina el estilo predeterminado de select */
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 15px;
    width: 100%; /* Asegura que el texto no se corte */
    margin-bottom: 20px; /* Añadir margen para separar del botón */
}

select.form-control:focus {
    background-color: #e9ecef;
    border-color: #007bff;
}

/* Botón siguiente */
button#siguiente-btn {
    margin-bottom: 50px; /* Añadir más espacio debajo del botón */
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    h1.display-4 {
        font-size: 2.5rem;
    }

    select.form-control {
        font-size: 0.9rem;
    }

    button#siguiente-btn {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
